doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/dashboard.css')
        script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js')
        script(src='/scripts/dashboard.js')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
    body
        div(class='banner_header')
            h1(style='color: white; font-size: 60px') Student Dashboard
        div(class='path_select')
            h3(style='font-size: 30px') Define Your Working Directory
        div(class='controls')
            button(class='btn_back') Back
            button(class='btn_select') Select This Folder/File
            div(class='files')
                ul(id="list")

