body{
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: url("../dashboardBackground.jpg");
}
.banner_header{
    background-color: #183d40;
    padding: 50px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
}
.path_select{
    text-align: center;
    padding: 20px;
    background-color: #29a19c;
    color: white;
}
.submit_path {
    padding: 2px 40px 2px 40px;
    font-size: 20px;
    background-color: #104324;
    color: white;
    border-radius: 10px;
}
.submit_path:hover{
    background-color: #27ad5c;
    cursor: pointer;

}
.controls{
    padding: 20px;
    background-color: #43c4be;
}
.files{
    background-color: #cff8f4;
}
.btn_back{
    padding: 7px 30px;
    background-color: #62e7ba;
}
.root{
    margin-left: 20px;
    background-color: #52afb2;
    border: 1px dashed;
    font-weight: bold;
}
.btn_select{
    float: right;
    padding: 7px 30px;
    background-color: #62e7ba;
}
#list{
    padding: 20px;
}
li{
    padding: 2px;
    border-left: 3px solid;
    display: table;
    margin: 3px;
    background-color: #a3e7e4;
    transition: transform .2s;

}
li:hover{
    transform: scale(1.08);
    cursor: pointer;
    background-color: #c4f1f5;
}
